<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <header><h1>¡A comer se ha dicho!</h1></header>
    <div id = "card">
        <!-- <img class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Nombre del restaurante</h5>
              <p class="card-text">Tipo</p>
              <a href="#" class="btn btn-primary">Pedir ahora</a>
            </div> -->
    </div>
    <button type="button" class="btn btn-primary" id = "tipo-mexicana">Comida Mexicana</button>
    <button type="button" class="btn btn-primary" id = "tipo-china">Comida China</button>
    <button type="button" class="btn btn-primary" id = "tipo-italiana">Comida Italiana</button>
    <button type="button" class="btn btn-primary" id = "snacks">Snacks</button>
    <button type="button" class="btn btn-primary" id = "raking">Mejores calificadas</button>
    <button type="button" class="btn btn-primary" id = "cost">Mejores precios</button>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>
    <script src="../js/foodmap.js"></script>
</body>
</html>